<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saik.rocketmultimeterandoscilloscope">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BTService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".VoltmeterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".OscilloscopeActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".AmpmeterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Voltmeter0to10Activity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Voltmeter0to50Activity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>